@charset "utf-8";
*
{
margin:0px;
padding:0px;	
}

body
{

width:100%;
height:100%;
overflow:hidden;
}

.box-overlay
{
background:url(../assets/images/pattern.png) repeat;
width: 100%;
height: 100%;
position: fixed;
top: 0px;
left: 0px;
z-index: 10;	
}

.backImg
{
width: 100%;
height: 100%;
position: fixed;
top: 0px;
left: 0px;
z-index:9;
}

#wrapper
{
z-index:11;
position:relative;
}

/* *******************************
    Top menu design start point
**********************************/

#top-header
{
width:100%;
height:50px;
position:absolute;
z-index: 18;
top:0px;
left:0px;

}

#top-header .top-menu-content
{
border-bottom:1px solid #696969;
background:url(../assets/images/dot.png) 0 0 repeat; 
display:none;
}

#top-header .top-menu-content ul
{
margin:0px;
padding:0px;
text-align:center;
}

#top-header .top-menu-content ul li
{
list-style:none;
display:inline-block;
border-right:1px solid #696969;	
}

#top-header .top-menu-content ul li a
{
width:150px;
text-decoration:none;
display:block;
font-size:17px;
font-weight:bold;
color:#FFFFFF;
line-height:2.5em;
padding:0 10px 0 10px;
}

#top-header .top-menu-content ul li:last-child
{
 border-right:none;
}

#top-header .top-menu-botton
{
border:1px solid #696969;
width:92px;
color:#FFF;
text-align:center;
line-height:1.5em;
font-size:15px;
position:absolute;
right:4%;
border-bottom-right-radius:6px;
border-bottom-left-radius:6px;
background:url(../assets/images/dot.png) 0 0 repeat;
cursor:pointer;
border-top:none;
z-index:15;
}

/* *******************************
    Right menu design start point
**********************************/

#right-side-menu
{
position:absolute;
z-index: 15;
right:0px;
top:50px;
height:auto;

}

#right-side-menu .top-right-corner{
border:solid #7B7A80 1px;
width:180px;
position:relative;
float:right;
margin-right: 0px;
border-right:none;	
background:url(../assets/images/dot.png) 0 0 repeat; 
}

#right-side-menu .top-right-corner ul 
{	
margin:0px;
padding:0px;
}

#right-side-menu .top-right-corner ul li{
list-style:none;
border-bottom:solid #7B7A80 1px;
}

#right-side-menu .top-right-corner ul li:last-child
{
border-bottom:none;
}

#right-side-menu .top-right-corner ul li a
{
text-decoration:none;
display:block;
font-size:14px;
font-weight:normal;
color:#FFFFFF;
padding:0 0px 0 0px;
height: 30px;
padding-top: 6px;
padding-left:10px;
}

#right-side-menu .top-right-corner ul li a:hover
{
background:url(../assets/images/overlay.png) 0 0 repeat;
}

#right-side-menu .bottom-right-corner{
text-align:center;
line-height:1.5em;
font-size:14px;
background:url(../assets/images/dot.png) 0 0 repeat;
cursor:pointer;
border-top:none;
z-index:15;
border:1px solid #696969;
color:#FFF;
float:right;
padding: 7px;
border-right:none;
border-top-left-radius:6px;
border-bottom-left-radius:6px;
}

#right-side-menu .bottom
{
clear:both;
height:10px;
}


/* *******************************
    Left menu design start point
**********************************/

#left-side-menu
{
width:15%;
height:50px;
position:absolute;
z-index: 12;
left:0px;
top:50px;
border:1px solid red;
}

/******************************
Main content layout
******************************/

#container
{
width:70%;
height:50px;
position:relative;
margin: 50px auto;
z-index: 12;
border:1px solid red;	
overflow:hidden;	
}

