@charset "utf-8";
*
{
margin:0px;
padding:0px;	
}

body
{

width:100%;
height:100%;
overflow:hidden;
}

.box-overlay
{
background:url(../assets/images/pattern.png) repeat;
width: 100%;
height: 100%;
position: fixed;
top: 0px;
left: 0px;
z-index: 10;	
}

.backImg
{
width: 100%;
height: 100%;
position: fixed;
top: 0px;
left: 0px;
z-index:9;
}
#wrapper
{
z-index:11;
position:relative;
}

/* *******************************
    Top menu design start point
**********************************/

#top-header
{
width:100%;
height:50px;
position:absolute;
z-index: 12;
top:0px;
left:0px;
border:1px solid red;
}

/* *******************************
    Right menu design start point
**********************************/

#right-side-menu
{
width:15%;
height:50px;
position:absolute;
z-index: 12;
right:0px;
top:50px;
border:1px solid red;
}


/* *******************************
    Left menu design start point
**********************************/

#left-side-menu
{
width:15%;
height:50px;
position:absolute;
z-index: 12;
left:0px;
top:50px;
border:1px solid red;
}

