@charset "utf-8";
/* CSS Document */

body
{
background: url(../images/dot.png) repeat;    
margin: 0px;
padding:0px;
color:#FFF;
overflow-x: hidden;
}

#login
{
width:500px;
margin:10% auto;
}

#login .header
{
text-align:right;
font-size:30px;
line-height:50px;
border-bottom:double 5px #FFF;
}

#login input
{
border:1px solid #002166;
height:50px;
width: 427px;
margin-top: 40px;
font-size:18px;
padding:0px 10px 0 10px;
background: #FFF;
}

#login input[type="text"]
{
background: url(../images/admin.png) right center no-repeat ;
padding-right:61px;
padding-top:10px;
padding-bottom:10px;
}

#login input[type="password"]
{
background: url(../images/pass.png) right center no-repeat ;
padding-right:61px;
padding-top:10px;
padding-bottom:10px;
}

#login .bottom
{
border-bottom:1px solid #FFF;
width:500px;
margin-top:50px;
}


 .disble
{
line-height:50px;
padding:0px  10px;
border:1px solid #FFF;
width:60px;
font-size:25px;
margin-top:25px;
color: #000;
background: #7B7A80;
}
 .login-button
{
line-height:50px;
padding:0px  10px;
border:1px solid #FFF;
width:60px;
font-size:25px;
margin-top:25px;
cursor:pointer;
color: #000;
background: #FFF;
}

.login-button:hover
{
background:#D0D0D0;
}

#overlay
{
background: url(../images/pattern.png)#000 repeat;
position: fixed;
left: 0px;
top: 0px;
width:100%;
height:100%;
z-index: 1000;
-moz-opacity: 0.5;
opacity:.5;
filter: alpha(opacity=50);
display: none;
}

#porgreess
{
height:5px;
background: #0134c5;
position: absolute;
left:0px;
top:0px;
display: none;
}

#login-error-message
{
width:475px;
background: #CD5C5C;
border:1px solid #FFB6C1;
line-height: 2.2em;
padding: 0px 12px;
font-size: 1.5em;
display: none;
}

/*
*    Dashboard design 
*/

#warapper
{
width: 100%;
}

#warapper .header
{
width:100%;
line-height:2.5em;
text-align: center;
font-size: 23px;
background: #100000;
}

#warapper .header .content-name
{

}

#warapper .right-side
{
display: inline-block;
width:18%;
vertical-align: top;
}

#warapper .right-side ul
{
margin:0px;
padding:0px;
}

#warapper .right-side ul li
{
display: block;
list-style: none;
cursor: pointer;
background: #C0C0C0;
line-height: 2.5em;
margin: 0px 0px 5px 0px;
padding: 0px 0px 0px 20px;
}

#warapper .right-side ul li:hover
{
background: #B8B8B8 ;
}

#warapper .right-side ul li.active
{
background: #993333;
}

#warapper .left-side
{
display: inline-block;
border-left:1px solid blue;
vertical-align: top;
width:81.6%;
overflow: hidden;
}

#warapper .main-content
{
width:100%;
}


#warapper .main-content .table-content
{
margin:5% auto;
width: 99%;
}

#warapper .main-content .table-content .header
{
height:50px;
background: #DCDCDC;
border-bottom: 1px solid #808080;
}

#warapper .main-content .table-content .footer
{
height:50px;
background: #DCDCDC;
border-top:1px solid #808080;
}

#warapper .main-content .table-content .footer .next-pre-btn
{
width: 78px;
float: right;
margin-top: 8px;
margin-right: 10px;
}

#warapper .main-content .table-content .footer .next-pre-btn .next-btn
{
background: url(../images/next.png) 0 0 no-repeat;
width:32px;
height:32px;
float:left;
border:1px solid #000;
margin-left: 10px;
}

#warapper .main-content .table-content .footer .next-pre-btn .prev-btn
{
background: url(../images/prev.png) 0 0 no-repeat;
width:32px;
height:32px;
float:left;
border:1px solid #000;
visibility: hidden;
}


#warapper .main-content .table-content .header .add-btn
{
float: right;
width:32px;
height:32px;
margin: 8px;
background: url(../images/add.png) 0 0 no-repeat;
cursor: pointer;
}

#warapper .main-content .table-content .header .add-btn:hover
{
opacity: 0.5;
}

#warapper .main-table-content
{
width:100%;
}

table.table-1
{
marign:0px;
padding: 0px;
}

table.table-1 tr
{
border-bottom: 1px solid #E8E8E8;   
}

table.table-1 tr th
{
background:#707070;
padding:10px 0px;
border-right: 1px solid #E8E8E8 ;
border-bottom: 1px solid #E8E8E8;
}

table.table-1 tr th:last-child
{
border-right: none;
}

table.table-1 tr td
{
background:#D0D0D0;
padding: 10px;
border-right: 1px solid #E8E8E8 ;
border-bottom: 1px solid #E8E8E8;
color:#000;
}

table.table-1 tr td:last-child
{
border-right: none;
}

#popup-box
{
position: absolute;
z-index: 1000;
background: #FFF;
width:50%;
left:100%;
top:20%;
color: #000;
}

#popup-box .popup-header
{
background:#C0C0C0;
height: 40px;
border-right:6px solid transparent;
}

#popup-box .popup-header .close
{
float: right;
background:url(../images/normal_close.png) no-repeat;
width:26px;
height:26px;
margin: 6px 0px 0 0px;
cursor: pointer;    
}

#popup-box .popup-header .close:hover
{
background: url(../images/over_close.png) right center no-repeat;   
}

#popup-box .popup-header .title-name
{
float: left; 
padding: 0 0 0 19px;
line-height: 36px;
font-size: 20px;
font-weight: bold;
color: #FFF;
}

#popup-box .popup-container
{
margin:10px;
}

#popup-box .footer
{
height: 50px;
border-top:1px solid #B0B0B0 ;
}

#popup-box .footer #submit-btn
{
float: right;
margin: 10px 10px 0 0;
display: none;
}

#popup-box .footer #cancel-btn
{
float: right;
margin: 10px 10px 0 0;
display: none;
}

#popup-box .footer #loading-image
{
float: right;
margin: 10px 10px 0 0;
background: url(../images/loading141.gif) no-repeat;
width:32px;
height:32px;
display: none;
}

.edit
{
background: url(../images/edit.png) no-repeat;
width:32px;
height:32px;
cursor: pointer;
}

.delete
{
background: url(../images/delete.png) no-repeat;
width:32px;
height:32px;
cursor: pointer;
}

.edit:hover,.delete:hover
{
opacity:.5;
filter: alpha(opacity=50);
}

.table-2
{
width:100%;    
}

.table-2 input[type="text"]
{
width:60%;
height: 40px;
padding:0 5px 0 5px;
}

.table-2 select
{
width:62%;
height: 40px;
padding:0 5px 0 5px;
}

.myButton 
{
-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
box-shadow:inset 0px 1px 0px 0px #9acc85;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
background-color:#74ad5a;
border:1px solid #3b6e22;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:arial;
font-size:13px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
}
.myButton:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
background-color:#68a54b;
}
.myButton:active {
position:relative;
top:1px;
}

.myButton-cancel 
{
-moz-box-shadow:inset 0px 1px 0px 0px #818580;
-webkit-box-shadow:inset 0px 1px 0px 0px #818580;
box-shadow:inset 0px 1px 0px 0px #818580;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d3d6d2), color-stop(1, #a0a19f));
background:-moz-linear-gradient(top, #d3d6d2 5%, #a0a19f 100%);
background:-webkit-linear-gradient(top, #d3d6d2 5%, #a0a19f 100%);
background:-o-linear-gradient(top, #d3d6d2 5%, #a0a19f 100%);
background:-ms-linear-gradient(top, #d3d6d2 5%, #a0a19f 100%);
background:linear-gradient(to bottom, #d3d6d2 5%, #a0a19f 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d6d2', endColorstr='#a0a19f',GradientType=0);
background-color:#d3d6d2;
border:1px solid #7d7d7d;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:arial;
font-size:13px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
}
.myButton-cancel:hover 
{
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a0a19f), color-stop(1, #d3d6d2));
background:-moz-linear-gradient(top, #a0a19f 5%, #d3d6d2 100%);
background:-webkit-linear-gradient(top, #a0a19f 5%, #d3d6d2 100%);
background:-o-linear-gradient(top, #a0a19f 5%, #d3d6d2 100%);
background:-ms-linear-gradient(top, #a0a19f 5%, #d3d6d2 100%);
background:linear-gradient(to bottom, #a0a19f 5%, #d3d6d2 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0a19f', endColorstr='#d3d6d2',GradientType=0);
background-color:#a0a19f;
}
.myButton-cancel:active {
position:relative;
top:1px;
}

.myButton-disble 
{
-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
box-shadow:inset 0px 1px 0px 0px #ffffff;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
background-color:#ffffff;
border:1px solid #dcdcdc;
display:inline-block;
cursor:pointer;
color:#666666;
font-family:arial;
font-size:15px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
text-shadow:0px 1px 0px #ffffff;
}

/*the story title's listed*/
.title
{
margin:0 auto;
width:100%;
color:#FF0;
text-align:center;
font-size:23px;
background-color:#999;
line-height:60px;
}
